@import "./color_schemes/dark";

/** SCSS DARK THEME PRIMARY COLORS */
$primary-100:  #ff8200;
$primary-200:  #ff9030;
$primary-300:  #ff9f4c;
$primary-400:  #ffac66;
$primary-500:  #ffba7f;
$primary-600:  #ffc898;

/** SCSS DARK THEME SURFACE COLORS */
$surface-100:  #27262b;
$surface-200:  #3b3a3f;
$surface-300:  #515054;
$surface-400:  #67676b;
$surface-500:  #7f7e82;
$surface-600:  #979799;

$link-color: $primary-400;
