@import "./color_schemes/dark";

$body-background-color: $utep-blue;
$sidebar-color: $utep-blue;
$feedback-color: lighten($sidebar-color, 3%);
$search-background-color: lighten($sidebar-color, 10%);
$link-color: $utep-orange;
