@import "./color_schemes/dark";

$body-background-color: $utep-blue;
$sidebar-color: $utep-blue;
$link-color: $utep-orange;
$table-background-color: $utep-silver;
$search-background-color: $utep-silver;
$search-result-preview-color: $utep-silver;